.timeline {
  position: relative;
  width: var(--row-height);
  height: var(--row-height);
  --status: var(--muted);
}

.timeline[data-status="current"] {
  --status: var(--blue);
}

.timeline[data-status="success"] {
  --status: var(--green);
}
.timeline[data-status="failed"] {
  --status: var(--red);
}

.timeline::before {
  content: "";
  position: absolute;
  inset: 0;
  display: inline-block;
  margin: 0 auto;
  width: 2px;
  background-color: var(--status);
  z-index: 0;
}

.table [role="row"]:first-of-type .timeline::before {
  top: 50%;
}

.table [role="row"]:last-of-type .timeline::before {
  bottom: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  inset: 0;
  display: inline-block;
  margin: auto;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--base);
  border: 0.125rem solid var(--status);
}

.timeline svg {
  position: absolute;
  z-index: 1;
  inset: 0;
  margin: auto;
  color: var(--status);
}

.table :global [role="row"].finished {
  opacity: 0.5;
}

.table :global [role="row"].current::after {
  outline: 0.125rem solid var(--surface);
  outline-offset: 0.125rem;
}

.table [role="cell"]:first-of-type {
  padding: 0 0 0 0.25rem;
}
