@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/theme/fonts/quicksand-regular.woff2?asset) format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url(/theme/fonts/quicksand-regular.woff?asset) format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(/theme/fonts/quicksand-semibold.woff2?asset) format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url(/theme/fonts/quicksand-semibold.woff?asset) format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
