*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 2rem;
  background-color: var(--base);
  color: var(--text);
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
