/** Main theme */
:root {
  /** base background */
  --base: #1e1e2e;
  /** surfaces on the background (e.g. modal) */
  --surface: #313244;
  /** element backgrounds (e.g. button) */
  --overlay: #585b70;
  /** muted text (e.g. disabled text) */
  --muted: #7f849c;
  /** text */
  --text: #cdd6f4;
  
  /** colors */
  --blue: #89b4fa;   /* Active */
  --green: #a6e3a1;  /* Success */
  --red: #f38ba8;    /* Attention 0 */
  --orange: #eba0ac; /* Attention 1 */
  --amber: #fab387;  /* Attention 2 */
  --yellow: #f9e2af; /* Attention 3 */
  --rose: #f5e0dc;   /* Attention 4 */
}

.catppuccin {
  /** Original theme */
  --crust: #11111b;
  --mantle: #181825;
  --base: #1e1e2e;
  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;
  --subtext0: #a6adc8;
  --subtext1: #bac2de;
  --text: #cdd6f4;

  --lavender: #b4befe;
  --blue: #89b4fa;
  --sapphire: #74c7ec;
  --sky: #89dceb;
  --teal: #94e2d5;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --peach: #fab387;
  --maroon: #eba0ac;
  --red: #f38ba8;
  --mauve: #cba6f7;
  --pink: #f5c2e7;
  --flamingo: #f2cdcd;
  --rosewater: #f5e0dc;

  /** Theme mapping */
  --surface: var(--surface0);
  --overlay: var(--surface2);
  --muted: var(--overlay1);
  
  --orange: var(--maroon);
  --amber: var(--peach);
  --rose: var(--rosewater);
  
  /*
  --base: ;
  --text: ;
  --blue: ;
  --green: ;
  --red: ;
  --yellow: ;
  */
}

.catppuccin.light {
    /** Original theme */
  --crust: #dce0e8;
  --mantle: #e6e9ef;
  --base: #eff1f5;
  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;
  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --overlay2: #7c7f93;
  --subtext0: #6c6f85;
  --subtext1: #5c5f77;
  --text: #4c4f69;

  --lavender: #7287fd;
  --blue: #1e66f5;
  --sapphire: #209fb5;
  --sky: #04a5e5;
  --teal: #179299;
  --green: #40a02b;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --maroon: #e64553;
  --red: #d20f39;
  --mauve: #8839ef;
  --pink: #ea76cb;
  --flamingo: #dd7878;
  --rosewater: #dc8a78;
}

.everforest {
  /** Original theme */
  
  --bg_dim: #232A2E;
  --bg0: #2D353B;
  --bg1: #343F44;
  --bg2: #3D484D;
  --bg3: #475258;
  --bg4: #4F585E;
  --bg5: #56635f;
  --bg_visual: #543A48;
  --bg_red: #514045;
  --bg_green: #425047;
  --bg_blue: #3A515D;
  --bg_yellow: #4D4C43;
  --fg: #D3C6AA;

  --red: #E67E80;
  --orange: #E69875;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --aqua: #83C092;
  --blue: #7FBBB3;
  --purple: #D699B6;

  --grey0: #7A8478;
  --grey1: #859289;
  --grey2: #9DA9A0;

  --statusline1: #A7C080;
  --statusline2: #D3C6AA;
  --statusline3: #E67E80;

  /** Theme mapping */
  --base: var(--bg1);
  --surface: var(--bg2);
  --overlay: var(--bg3);
  --muted: var(--grey1);
  --text: var(--fg);
  
  --amber: #e2aa76;
  --rose: #d7c194;
  
  /*
  --blue: ;
  --green: ;
  --red: ;
  --orange: ;
  --yellow: ;
  */
}


.nord {
  /** texts, backgrounds */
  --nord0: #2e3440;
  /** lighter background color for UI elements like status bars */
  --nord1: #3b4252;
  /** selection- and highlight color */
  --nord2: #434c5e;
  /** disabled elements*/
  --nord3: #4c566a;
  /** semi-light background depending on the theme shading design */
  --nord4: #d8dee9;
  /** lighter background color for UI elements like status bars */
  --nord5: #e5e9f0;
  /** background, selection- and highlight color */
  --nord6: #eceff4;
  /** classes, types and documentation tags. */
  --nord7: #8fbcbb;
  /** Main color for primary UI elements */
  --nord8: #88c0d0;
  /** language-specific syntactic/reserved support characters and keywords, operators, tags, units and punctuations */
  --nord9: #81a1c1;
  /** */
  --nord10: #5e81ac;
  /** errors, git/diff deletion and linter marker */
  --nord11: #bf616a;
  /** annotations */
  --nord12: #d08770;
  /** warnings and git/diff renamings */
  --nord13: #ebcb8b;
  /** git/diff additions and success visualizations */
  --nord14: #a3be8c;
  /** numbers */
  --nord15: #b48ead;

  --base: var(--nord0);
  --surface: var(--nord1);
  --overlay: var(--nord2);
  --muted: var(--nord3);
  --text: var(--nord6);
  
  --blue: var(--nord10);
  --green: var(--nord14);
  --red: var(--nord11);
  --orange: var(--nord12);
  --amber: #e1a87a;
  --yellow: var(--nord13);
  --rose: #ffd2e1;
}

.nord.light {
  --base: #fff;
  --surface: var(--nord6);
  --overlay: var(--nord4);
  --muted: #717886;
  --text: var(--nord1);

  --rose: #ab9772;
}
