.mocha {
  --crust: #11111b;
  --mantle: #181825;
  --base: #1e1e2e;
  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;
  --subtext0: #a6adc8;
  --subtext1: #bac2de;
  --text: #cdd6f4;
  --lavender: #b4befe;
  --blue: #89b4fa;
  --sapphire: #74c7ec;
  --sky: #89dceb;
  --teal: #94e2d5;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --peach: #fab387;
  --maroon: #eba0ac;
  --red: #f38ba8;
  --mauve: #cba6f7;
  --pink: #f5c2e7;
  --flamingo: #f2cdcd;
  --rosewater: #f5e0dc;

  --surface: var(--surface0);
  --overlay: var(--surface2);
  --muted: var(--overlay1);
  
  --orange: var(--maroon);
  --amber: var(--peach);
  --rose: var(--rosewater);
  
  /*
  --base: var(--base);
  --text: var(--text);
  --blue: #89b4fa;
  --green: #a6e3a1;
  --red: #f38ba8;
  --yellow: #f9e2af;
  */
}

.latte {
  --crust: #dce0e8;
  --mantle: #e6e9ef;
  --base: #eff1f5;
  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;
  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --overlay2: #7c7f93;
  --subtext0: #6c6f85;
  --subtext1: #5c5f77;
  --text: #4c4f69;
  --lavender: #7287fd;
  --blue: #1e66f5;
  --sapphire: #209fb5;
  --sky: #04a5e5;
  --teal: #179299;
  --green: #40a02b;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --maroon: #e64553;
  --red: #d20f39;
  --mauve: #8839ef;
  --pink: #ea76cb;
  --flamingo: #dd7878;
  --rosewater: #dc8a78;

  --surface: var(--surface0);
  --overlay: var(--surface2);
  --muted: var(--overlay1);
  
  --orange: var(--maroon);
  --amber: var(--peach);
  --rose: var(--rosewater);
  
  /*
  --base: var(--base);
  --text: var(--text);
  --blue: #89b4fa;
  --green: #a6e3a1;
  --red: #f38ba8;
  --yellow: #f9e2af;
  */
}

.frappe {
  --crust: #232634;
  --mantle: #292c3c;
  --base: #303446;
  --surface0: #414559;
  --surface1: #51576d;
  --surface2: #626880;
  --overlay0: #737994;
  --overlay1: #838ba7;
  --overlay2: #949cbb;
  --subtext0: #a5adce;
  --subtext1: #b5bfe2;
  --text: #c6d0f5;
  --lavender: #babbf1;
  --blue: #8caaee;
  --sapphire: #85c1dc;
  --sky: #99d1db;
  --teal: #81c8be;
  --green: #a6d189;
  --yellow: #e5c890;
  --peach: #ef9f76;
  --maroon: #ea999c;
  --red: #e78284;
  --mauve: #ca9ee6;
  --pink: #f4b8e4;
  --flamingo: #eebebe;
  --rosewater: #f2d5cf;

  --surface: var(--surface0);
  --overlay: var(--surface2);
  --muted: var(--overlay1);
  
  --orange: var(--maroon);
  --amber: var(--peach);
  --rose: var(--rosewater);
  
  /*
  --base: var(--base);
  --text: var(--text);
  --blue: #89b4fa;
  --green: #a6e3a1;
  --red: #f38ba8;
  --yellow: #f9e2af;
  */
}

.macchiato {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;

  --surface: var(--surface0);
  --overlay: var(--surface2);
  --muted: var(--overlay1);
  
  --orange: var(--maroon);
  --amber: var(--peach);
  --rose: var(--rosewater);
  
  /*
  --base: var(--base);
  --text: var(--text);
  --blue: #89b4fa;
  --green: #a6e3a1;
  --red: #f38ba8;
  --yellow: #f9e2af;
  */
}

:root {
  /** base background */
  --base: #1e1e2e;
  /** surfaces on the background (e.g. modal) */
  --surface: #313244;
  /** element backgrounds (e.g. button) */
  --overlay: #585b70;
  /** muted text (e.g. disabled text) */
  --muted: #7f849c;
  /** text */
  --text: #cdd6f4;
  
  --blue: #89b4fa;
  --green: #a6e3a1;
  --red: #f38ba8;
  --orange: #eba0ac;
  --amber: #fab387;
  --yellow: #f9e2af;
  --rose: #f5e0dc;
}
