.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;

  font-size: min(10vw, 5rem);
}

.wrapper :global span.digit {
  display: inline-block;
  width: 0.55em;
  text-align: center;
}

.label {
  margin: 0 auto;
  font-size: 0.3em;
  color: var(--muted);
  padding: 0 2rem 0.5rem 2rem;
  border-bottom: 1px solid var(--muted);
  width: max-content;
}
