.timer {
  font-weight: 600;
  font-size: 1em;
}

.delimiter {
  color: var(--muted);
  margin: 0 0.25em;
}

.blink {
  animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
