.themeTogglePosition {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;

  --reveal-transition: 0.5s;
  transition: var(--reveal-transition);
  transition-property: height, width, border-radius;
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--reveal-transition);
  transition-property: left, right, top, bottom, border-radius;
}

.wrapper:hover::before {
  content: "";
  position: absolute;
  border-radius: 0 0 0 50vh ;
  right: -1rem;
  top: -1rem;
  left: -3rem;
  bottom: -3rem;
}

.wrapper:not(:hover):not(:focus-within) .themeOption:not(.current) {
  height: 0rem;
  opacity: 0;
}

.themeOption {
  --radio-size: 2rem;
  height: var(--radio-size);
  width: var(--radio-size);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--reveal-transition);
  transition-property: height, opacity;
  cursor: pointer;
}
  
.themeOption.current::before {
  content: "";
  position: absolute;
  inset: 0.25rem;

  background-color: var(--overlay);
  border-radius: 50%;
}

.bubbles {
  position: relative;
  width: 0;
  height: 0;
  --color: var(--base);

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bubbles > span {
  --size: 0.75rem;

  display: inline-block;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 0.125rem solid var(--overlay);
  
  position: absolute;
  transition: 0.25s;
  transition-property: top, right, bottom, left;
}

.bubbles > span:nth-of-type(1) {
  background-color: var(--text);
  top: calc(-0.25 * var(--size));
  left: calc(-0.25 * var(--size));
}

.bubbles > span:nth-of-type(2) {
  background-color: var(--base);
  top: calc(-0.25 * var(--size));
  right: calc(-0.25 * var(--size));
}

.bubbles > span:nth-of-type(3) {
  background-color: var(--blue);
  top: calc(-0.75 * var(--size));
}

.themeOption:hover > .bubbles > span:nth-of-type(1),
.themeOption > input:focus-visible + .bubbles > span:nth-of-type(1) {
  top: calc(-0.15 * var(--size));
  left: 0;
}

.themeOption:hover > .bubbles > span:nth-of-type(2),
.themeOption > input:focus-visible + .bubbles > span:nth-of-type(2) {
  top: calc(-0.15 * var(--size));
  right: 0;
}

.themeOption:hover > .bubbles > span:nth-of-type(3),
.themeOption > input:focus-visible + .bubbles > span:nth-of-type(3) {
  top: calc(-0.95 * var(--size));
}

.themeOption > .label {
  position: absolute;
  right: 100%;
  padding: 0.125rem 0.5rem;

  pointer-events: none;
  background-color: var(--surface);
  border-radius: 0.5rem;
  opacity: 0;
  white-space: nowrap;

  transition: 0.25s ease-in-out;
  transition-property: max-width, opacity;

  max-width: 0;
  overflow: hidden;
}

.themeOption:hover > .label,
input:focus-visible ~ .label {
  opacity: 1;
  max-width: 8.5rem;
}
